# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# eclipse
.settings/
.project
.classpath
bin/

# datahaki
testall.sh
gendocs.sh

# apple
.DS_Store

# intelliJ
.idea/
*.iml

# videos
*.avi
*.mp4

# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# data files
*.log
export/
mvninstall.sh

/powerlookuptable.csv
/inversepowerlookuptable.csv
*.asv

src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_HumanConstraints/SaveData.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_HumanConstraints/CC1_data.mat
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_simulinkBlockcompact.mexw64
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_simulinkBlock.mexw64
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_py.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_model_31.obj
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_model_31.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_model_1.obj
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_model_1.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_mex_compiler_warnings.txt
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_casadi2forces.obj
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One_casadi2forces.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/obj/MPCPathFollowing_One.o
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/MPCPathFollowing_One.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/lib/libMPCPathFollowing_One.so
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/lib/libMPCPathFollowing_One.a
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_Onecompact_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_simulinkBlockcompact.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_simulinkBlock.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_py.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_mex.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One_build.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/MPCPathFollowing_One.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/interface/COPYING.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One/include/MPCPathFollowing_One.h
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One.mexw64
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_One.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/COPYING.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/COPYING.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/include/MPCPathFollowing_Boom.h
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_build.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_mex.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_py.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_simulinkBlock.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boom_simulinkBlockcompact.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/interface/MPCPathFollowing_Boomcompact_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/lib/libMPCPathFollowing_Boom.a
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/lib/libMPCPathFollowing_Boom.so
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/MPCPathFollowing_Boom.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_Boom/obj/MPCPathFollowing_Boom.o
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/include/MPCPathFollowing_leader.h
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_build.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_mex.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_py.py
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_simulinkBlock.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leader_simulinkBlockcompact.c
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/interface/MPCPathFollowing_leadercompact_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/lib/libMPCPathFollowing_leader.a
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/lib/libMPCPathFollowing_leader.so
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/MPCPathFollowing_leader.m
src_MATLAB/MPCGokart/ForcesMPCPathFollowingDynamic_GameTheory/MPCPathFollowing_leader/obj/MPCPathFollowing_leader.o
src_MATLAB/MPCGokart/ForcesMPCTorque_HumanConstraints/plotter.m
*.mexw64
*.c
*.obj
*.py
*.forces
src_MATLAB/MPCGokart/ForcesMPCTorque_HumanConstraints/DynamicTorque_HC.m
src_MATLAB/MPCGokart/ForcesMPCTorque_HumanConstraints/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCTorque_HumanConstraints/MPCPathFollowing_mex_compiler_warnings.txt
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/include/MPCPathFollowing.h
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/interface/COPYING.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/interface/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/interface/MPCPathFollowing_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/interface/MPCPathFollowingcompact_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/lib/libMPCPathFollowing.a
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/lib/libMPCPathFollowing.so
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing/obj/MPCPathFollowing.o
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing_Boom.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing_Boom_mex_compiler_warnings.txt
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing_leader.m
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing_leader_mex_compiler_warnings.txt
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/MPCPathFollowing_mex_compiler_warnings.txt
src_MATLAB/MPCGokart/ForcesMPCAngle_GameTheory/stdout_temp
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/include/MPCPathFollowing.h
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/interface/COPYING.m
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/interface/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/interface/MPCPathFollowing_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/interface/MPCPathFollowingcompact_lib.mdl
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/lib/libMPCPathFollowing.a
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/MPCPathFollowing.m
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/lib/libMPCPathFollowing.so
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing/obj/MPCPathFollowing.o
src_MATLAB/MPCGokart/ForcesMPCAngle_HumanConstraints/MPCPathFollowing_mex_compiler_warnings.txt
