*.forces
MPCPathFollowing.m
MPCPathFollowing.mexa64
MPCPathFollowing/
MPCPathFollowing_casadi2forces.c
MPCPathFollowing_casadi2forces.o
MPCPathFollowing_mex_compiler_warnings.txt
MPCPathFollowing_model_1.c
MPCPathFollowing_model_1.o
MPCPathFollowing_model_31.c
MPCPathFollowing_model_31.o
MPCPathFollowing_py.py
MPCPathFollowing_simulinkBlock.mexa64
MPCPathFollowing_simulinkBlockcompact.mexa64
nativeMPCLCM
nativeLCMtest
stdout_temp

/MPCPathFollowing.mexw64
/CompileNativeMPC.sh
/CompileNativeMPCtest.sh
/MPCPathFollowing_casadi2forces.obj
/MPCPathFollowing_model_1.obj
/MPCPathFollowing_model_31.obj
/MPCPathFollowing_simulinkBlock.mexw64
/MPCPathFollowing_simulinkBlockcompact.mexw64
/nativeexecutionLCM.c
/nativeexecutionLCMtest.c
/drawAnimation.asv
/DynamicPathFollowingForces.asv
/MPCPathFollowing_model_21.c
/MPCPathFollowing_model_21.obj
/MPCPathFollowing_model_25.c
/MPCPathFollowing_model_25.obj
/testineq.asv
