# TODO EM check correct names of files
*.forces
MPCPathFollowing.m
MPCPathFollowing.mexa64
MPCPathFollowing/
MPCPathFollowing_casadi2forces.c
MPCPathFollowing_casadi2forces.o
MPCPathFollowing_mex_compiler_warnings.txt
MPCPathFollowing_model_1.c
MPCPathFollowing_model_1.o
MPCPathFollowing_model_31.c
MPCPathFollowing_model_31.o
MPCPathFollowing_py.py
MPCPathFollowing_simulinkBlock.mexa64
MPCPathFollowing_simulinkBlockcompact.mexa64
stdout_temp

/MPCPathFollowing.mexw64
/.mexw64
/CompileNativeMPC.sh
/CompileNativeMPCtest.sh
/MPCPathFollowing_casadi2forces.obj
/MPCPathFollowing_model_1.obj
/MPCPathFollowing_model_31.obj
/MPCPathFollowing_simulinkBlock.mexw64
/MPCPathFollowing_simulinkBlockcompact.mexw64
/MPCPathFollowing_stop.m
/MPCPathFollowing_stop.mexw64
/MPCPathFollowing_stop_mex_compiler_warnings.txt
/MPCPathFollowing_stop_py.py
/MPCPathFollowing_stop_simulinkBlock.mexw64
/MPCPathFollowing_stop_simulinkBlockcompact.mexw64
/interstagedx_HC.asv
